@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot);
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot?#iefix) format('embedded-opentype'),
       url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.woff) format('woff'),
       url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem 1rem;
}

h1, h2, h3, h4, h5, h6, p, pre, a, li, blockquote {
  font-family: 'Iropke Batang', 'Noto', serif;
  color: #333333;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  letter-spacing: -0.01rem;
}

a {
  color: #4169e1;
}

.global-wrapper {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: 720px;
}

.global-wrapper .site-header {
  margin-bottom: 2rem;
}

ul {
  margin-bottom: 2rem;
}

.global-wrapper .posts-content .posts-list li {
  margin-left: 0;
  list-style: none;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.global-wrapper .posts-content .posts-list li .post-date {
  color: dimgray;
  font-family: Monaco, "Courier New", monospace;
  word-spacing: -0.2em;
}

.global-wrapper .posts-content .posts-list li a {
  font-size: 1rem;
}

.global-wrapper footer {
  margin: 1rem 0;
  font-size: 0.8rem;
  display: flex;
}
